body {
    background-color: white;
    margin-left: 5%;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
}

.note-container {
    width: 600px;
}

.metadata {
    margin-top: 20px;
    margin-bottom: 10px;
}

.name-container {
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

#name {
    width: 100%;
    margin-left: 4px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 4px 0;
    background-color: transparent;
    color: black;
    font-family: inherit;
}

.top-buttons-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}
.spacer {
    flex-grow: 1;
}

.block {
    background-color: #f1f1f1;
    border: 1px solid #a0a0a0;
    margin-bottom: 5px;
    width: 100%;
    position: relative;
    align-items: center;
}

.block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #a0a0a0;
}

.block-label {
    margin-left: 5px;
    color: black;
    font-family: inherit;
    font-size: 15px;
    flex-grow: 1;
}

.block-buttons {
    display: flex;
}
.block-button {
    background: none;
    border: 0px solid #ccc;
    color: #000;
    font-size: 12px;
    cursor: pointer;
    padding: 4px 8px;
}
.block-button:hover {
    background: #ddd;
}
textarea {
    width: 100%;
    min-height: 50px;
    resize: none;
    border: 0px solid #000;
    padding: 5px;
    font-family: monospace;
    color: black;
}