h1 {
    margin-bottom: 5px;
}
body {
    margin-left: 5%;
}
.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.button-container form {
    margin: 0;
}
.breadcrumbs {
    margin-bottom: 12px;
}
.nice-link {
    text-decoration: none;
    color: black;
}
.nice-link:hover {
    color: #777;
}